body {
  background-color: #ffeac1;
  font-family: sans-serif;
  user-select: none;
}

#cookie {
  max-width: 300px;
  width: 100%;
  padding-top: 5%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.3s;
}

#cookie:hover {
  transform: scale(1.1);
}

#counter {
  text-align: center;
  font-size: 30pt;
}

#autoclicker {
  margin: 0 auto;
  display: table;
  font-size: 25pt;
}

#upgrade {
  margin: 0 auto;
  display: table;
  font-size: 25pt;
}
